@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;

}
.body1{
    margin: 20px;
}
.body{
    
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px, 50% 0%;
    height: 100vh;
}
.top img{
    width: 90px;
    height: 25px;
    background-color: #e47312;
    padding: 44px 40px;
    position: relative;
    top: 10px;
}
.top{
    width: 90%;
    background-color: white;
    height: 90px;
    position: relative;
    top: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
@media(max-width:400px){
    .body1{
        width: 100;
    }
    .top{
        width:100%;
        height: 50px;
        top: 0;
        margin: 0;
    }
    .body1{
       margin: 0;
    }
    .top img{
        width: 80px;
        position: relative;
        top: 0;
        padding: 13px 10px;
        background-color: #e47312;
        
       

    }
    .navitems .it,.last{
        display: none;
    }
    .body{
        
        height: auto;
    }



}
.navitems{
    display: flex;
   
   
    
}
.navitems .it{
    margin: 0 15px;
    font-weight: 700;
    color: #414147;
    font-size: 16px;
    letter-spacing: 1px;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    transition: all 0.3s ease-in-out;
}
.it:hover{
    color: #e47312;
    cursor: pointer;

}
.cont{
    margin-top: 100px;
    
}
@media(max-width:400px)
{
    .lastnav{
        display: flex;
        flex-direction:column;
        position: relative;
        left: -25px;
        margin: 10px auto;
        width:100%;
    }
    .med1{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        width: 100%;
        
    }
    .med2{
        top:-220px;
        display: flex;
        
        position: relative;
        flex-direction:column;
    }
    .m{
        margin-top: -230px;
    }
    

}
.last{

    padding: 38px 40px;
    color: #fff;
    background-color: #e47312;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
}
.firstpara h3{
    font-size: 70px;
    font-weight: 1600;
    color: #fff;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    margin:20px 60px;

}
.cont p{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-left: 48px;
    letter-spacing: 1.2px;
}
.social img{
    width: 15px;
    height: 15px;
    padding: 15px;
}
.social:hover{
    cursor: pointer;
    color: #e47312;
}
.but{
    background-color: #e47312;
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    margin: 0 40px;
    top: 60px;
    font-family: 'Dosis', sans-serif;
    position: relative;
}
.lastnav{
    width: 70%;
    height: auto;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    padding: 3% 30px;
    float: right;
    display: flex;
}
.lastnav img{
    width: 25px;
    height: 29px;
    
}
.ph{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: -2px;
    font-family: 'Dosis', sans-serif;
}
.inf{
    color: #fff;
    letter-spacing: 1.2px;
    font-weight: 570;
    font-family: 'Dosis', sans-serif;
    opacity: 0.7;
    
    margin: 4px 0;
}
.cont1{
    width: fit-content;
    height: max-content;
    padding: 15px;
    margin: 0 auto;
    
    justify-content: space-between;
    text-align: center;
}
.cont1 img{
    margin-bottom: 15px;
   
}
.MAP{
    
    color: #fff;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;

    
    
}
.c{
 
   content: "";
   width:90px;
   margin: 3px 0 0 94px;
   background-color: #fff;
   height: 2px;
   opacity: 0;
   transform-origin:left center;
   transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
    transform:scaleX(0);
   
}
.c2{
 
    content: "";
    width:69px;
    background-color: #fff;
    height: 2px;
    opacity: 0;
    position: relative;
    top: -15px;
    transform-origin:left center;
    transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
     transform:scaleX(0);
    
     
 }
 .c3{
 
    content: "";
    width:75px;
    margin-top: 3px;
    background-color: #e47312;
    height: 2px;
    opacity: 0;
    transform-origin:left center;
    transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
     transform:scaleX(0);
    
 }
 .c4{
 
    content: "";
    width:70px;
    position: relative;
    margin: 0px 0 -10px 50px;
    background-color: #e47312;
    height: 2px;
    opacity: 0;
    top: -7px;
    transform-origin:left center;
    transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
     transform:scaleX(0);
    
 }

.c1{
 
    content: "";
    width:80px;
    margin: 3px 0 0 0px;
    background-color: #e47312;
    height: 2px;
    opacity: 0;
    transform-origin:left center;
    transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
     transform:scaleX(0);
    
 }.nmu:hover{
    cursor: pointer;
 }
 .a1:hover{
    cursor: pointer;
 }
 .a1:hover+.c4{
    opacity: 1;
    transform: scaleX(1);
 }
 .a1:hover+.c3{
    opacity: 1;
    transform: scaleX(1);
 }
.bg .headd:hover{
    cursor:pointer;
 }
 .bg .headd:hover+.c1{
    opacity: 1;
    transform: scaleX(1);
}
.cont1 .MAP:hover {
   
    cursor: pointer;
}
.cont1 :hover .c{
    opacity: 1;
    transform: scaleX(1);
}
.spec1 h1{
    font-size: 140px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600px;
    opacity: 0.02;
    letter-spacing: 6px;
    z-index: -1;
}
.spec1 h2{
    position: relative;
    top: -70px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 800 !important;
    margin-left: 40px;
    opacity: 0.7;
    letter-spacing: 2px;
}
.spec h1{
    font-size: 140px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600px;
    opacity: 0.02;
    letter-spacing: 6px;
    z-index: -1;
}
.spec h2{
    position: relative;
    top: -70px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 800 !important;
    margin-left: 40px;
    opacity: 0.7;
    letter-spacing: 2px;

}

@media(max-width:400px)
{

    .spec,.spec1 h1{
        width: 100%;
        font-size: 80px;
        font-weight: 700;
        opacity: 0.1;
        margin:0 auto ;
        margin-left: -20px;
        text-align: center;
    }
    .spec,.spec1 h2{
        font-size: 18px;
        margin-top: 50px;
        margin-left: -10px;
        text-align: center;
    }
    .spec1{
        margin: 20px 0;
    }
     .underline{
        margin-top: -40px ;
    }
}
.spec .para{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 15px;
    opacity: 0.6;
    margin-left: 50px;
    line-height: 2;
   
}
.underline{
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    line-height: 5px;
    margin-bottom: 10px;
    opacity: 0.4;
    font-size: 13px;
    font-weight: 700;


}
.c1{
    transition: all 1s ease-in-out;
    transform-origin: left;
}
.underline1{
    width: 123px;
    height: 3px;
transition: all 1s ease-in-out;
    border-radius: 3px;
    background-color: #e47312;
 
    display: none;
}
.underline:hover{
    cursor: pointer;
}
/* .c1:hover .underline1 {
display: block;

} */
@media(max-width:400px)
{
    .blog,.v1,.rat{
        display: flex;
        flex-direction: column;
       
    }
    .blog{
        width: 100%;
    }
    .v{
      width: 100%;
    }
    .v1 .about{
        margin-top: -130px;
         width: 100%;
    }
    .about1 ,.spec{
        margin-top:120px;
        margin-left:60px;
      
        
       
    }
    .info2{
        width: 340px;
        text-align: justify;
        margin-left: -40px ;
    }
    .about1 .spec h2{
text-align: center;
margin-left:40px;
    }

    .rat .div{
        
        width:max-content;
        
        margin-left: -20px;
    }
    .imgh1,.pro{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .imgh1 .imgh{
        margin: 0 20px 0 0;
        width:100%;
    }
    .pro .bl{
        width: 100%;
        margin: 20px 0px;
    }
    .pro .ll{
        
       margin-left: 345px;
    }
    .moo,.mno{
        display: flex;
        flex-direction: column;
        width: 100%; 
    }
    .g1,.g2{
        width: 380px;
        align-items: center;
    }
    .g1{
        margin-left: 30px;
    }
    .G12{
        
        margin-left: 70px;
    }
    .blogpost{
    
        margin: 20px;
    }
    .pko{
        display: flex;
        flex-direction: column;
       
    }
     .blogpost .pki {
        width: 370px;
     
    }
    .jhi{
        display: flex;
        flex-direction: column;
   
    }
    .foot,.bhu{
        display: flex;
        flex-direction: column;
        width: 200px; 
        margin-left: 50px;
    }
    .comp{
        display: flex;
        flex-direction: column;
        width: 100px; 
        margin-left: 10px;
        text-align: center;
    }
    .BGF{
        width: 1000px;
    }
    .bgh{
        width: 300px;
    }
    .BASED{
        width: 100%;
    }
    .fonty .line{
        width: 100%;
    }
    .de{
        width: 400px;
    }
    .mo{
        margin-top: -800px;
    }

    


}
.blog{
   display: flex;
    width: 100%;
    height: auto;
    font-family: 'Dosis', sans-serif;
}
.blog p{
    opacity: 0.4;
    font-size: 15px;
    font-weight: 600;line-break: auto;
    letter-spacing: 1px;
}
.blog img{
    width: 65px;
    height:65px;
}
.about,.about1{
    width: 50%;

}
.v{
    width: 70%;
    margin-left: 0;
}
.about img{
    width: 100%;
}
.about1{
    position: relative;
    top: -120px;
   margin-left: 40px;
    align-items: center;
    align-items: flex-start;
  
}
.info2{
    padding:0 40px;
    margin-bottom: 5px;
    font-family: 'Dosis', sans-serif;
    line-height: 1.7;
    
    opacity: 0.8;
    font-size: 18px;
    font-weight: 500;
}
.rat h1{
    color: #e47312;
    font-size: 60px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 20px;
}
.rat p{
    font-family: 'Dosis', sans-serif;
    opacity: 0.7;
    
}
.div{
    width: 15%;
    padding:0 20px;
    
}
.rat{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}
.prod{
    background-color: rgb(0,0,0,0.02);
}
.vp{
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    width: 50px;
    display: block;
    height:50px;
    padding: 25px;
    font-family: 'Dosis', sans-serif;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    color: #fff;
    position: absolute;
    margin-top: -230px;
    margin-left: 150px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.imgh{
    width: 33%;
    margin: 10px;
}
/* .imgh1{
    width:400px;
    background-color: rgba(0, 0, 0, 0.3);
  
} */

.imgh img{
    width: 100%;
    
    height: auto;
    transition: all 0.3s ease-in-out;
}

.imgh:hover{
    cursor: pointer;
    opacity: 1;
}
.vp:hover{
    cursor: pointer;
    opacity: 1;
}
 .imgh img:hover+.vp {
    
    cursor: pointer;
    opacity: 1;
}
.imgh1{
    display: flex;
    width: 100%;

    
}
.bg{
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 20px;
    transform: translateY(70px);
}
.bg h1{
    margin-bottom: 20px;
}
.bg1{
    width: 100%;
    height: 330px;
    
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)),url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}
.bl{
   
   width: 20%;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    box-shadow: 1px 1px 1px 0px rgb(0,0,0,0.1);
}
.bl img{
    width: 100%;
    height: 350px;
}
.soc li{
    padding:15px;
    width: 100%;
}
.ll{

width: fit-content;
padding: 2px 2px;
position: absolute;
margin-top: -273px;
margin-left: 190px;
background-color: #e47312;
}
.soc img{
    width: 20px;
    height: 20px;
}
.soc1{
    width: fit-content;
    height:auto;
}
.exc{
    font-family: 'Dosis', sans-serif;
}
.exc .P{
    font-weight: 600;
    
}
.calendar{
    font-family: 'Dosis', sans-serif;
    width: 70px;
    position: absolute;
  
    margin-left: 300px;
    text-align: center;
    
}
.calendar h3{
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78));
   font-size: 40px;
    padding: 15px ;
    text-align: center;
    color: #fff;
}
.calendar p{
    padding: 10px;
    background-color: #fff;
    font-weight: 600;
    color: rgb(173, 175, 175);
    font-size: 12px;
}
.blogpost img{
    width: 100%;
}
.font{
    font-family: 'Dosis', sans-serif;
    color: #fff;
   
    padding: 15px 30px;
    background-image: linear-gradient(160deg, #e47312, rgba(247, 77, 74, 0.78));
}
.font h3{
     font-weight: 500;
     margin: 15px 0px;
}
.font p{
    margin: 20px 0px;
    
}
.a{
    font-weight: 700;
    font-size: 14px;
}
.a:hover{
    cursor: pointer;
}
.a:hover+.c2{
    opacity: 1;
    transform: scaleX(1);
}
.a1{
    font-family: 'Dosis', sans-serif;
}
.BGF{
    background-image: linear-gradient(160deg, #e47312, rgba(247, 77, 74, 0.78));
    width:90%;
    margin: 70px auto;
    
    left: 0;
    right: 0;
    padding: 60px 50px;
   
    
}
.comp{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    letter-spacing: 1.4px;
}
.foot{
    color: #fff;
    font-family: 'Dosis', sans-serif;
    align-items: center;
    justify-content: space-between;
}
.itms img{
    margin: 0px 40px;
    width: 80px;
    height: 50px;
}
.line{
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: rgba(247, 77, 74, 0.78);
}
.fonty{
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1.4px;
}
.BASED{
    margin: 15px 0;
    line-height: 2;
    
}
.spec,.headd{
    font-family: 'Dosis', sans-serif;
}
.itms:hover{
    cursor: pointer;
}
.c5{
 
    content: "";
    width:100px;
    margin: 3px 0 0 0px;
    background-color: #fff;
    height: 2px;
    opacity: 0;
    transform-origin:left center;
    transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
     transform:scaleX(0);
    
 }
 .foo:hover{
    cursor: pointer;
 }
 .foo:hover+.c5{

    opacity: 1;
    transform: scaleX(1);
 }
 .c6{
 
    content: "";
    width:90px;
    margin: 4px auto 0 ;
    background-color: #fff;
    height: 2px;
    opacity: 0;
    transform-origin:left center;
    transition:all 400ms cubic-bezier(0.25 ,0.46, 0.45, 0.94)0s;
     transform:scaleX(0);
    
 }
 .nko:hover{
    cursor: pointer;
 }
 .nko:hover+.c6{

    opacity: 1;
    transform: scaleX(1);
 }
 .nuk,.last:hover{
    cursor: pointer;
 }
 .social{
    color: #e47312;
 }